body {
    box-sizing: border-box;
    background-image: url("../images/sample.jpg");
}

p {
    a {
        background-color: pink;
        text-decoration: none;
        color: green;
    }
}

.fooclass {
    background-color: lightblue;
}