body {
    box-sizing: border-box;
    background-image: url("../images/sample.jpg");
    background-size: 100vw 100vh;
}

p {
    a {
        background-color: pink;
        text-decoration: none;
        color: green;
    }
}

.fooclass {
    background-color: lightblue;
}