extends layout
block content
    p
        a(href="projects.html") go to projects
    div#main
        div#bio
            div.section-title
                p Born and Raised in New York City
            div.inner
                p this is the bio section
                p 
                    b something