extends layout
block content
    div#wrapper
        div#banner
            h1 Leon Cheng
            hr
            p I am a fullstack engineer/developer.
        div#main
            div#spacer
                center
                    p spacer
            div#bio
                div.inner
                    center
                        h2 ~ Born and Raised in New York City ~
                        p
                        | I have recently enjoyed working with React and Sass and getting to learn more about how to design good websites. Something about building it yourself and seeing the graphics come together in harmony is very satisfying. I also like to get myself involved with research that allows me to tinker with my hands and think about how technology affects the average person. Putting together prototypes is fun and getting user feedback always helps us to better listen to our customer's needs, which has made MIT's HCIE lab group a great fit for me.
                        p
                        | While I am still searching for the best way I can make an impact on the world, I am most motivated when I feel like an important contributor to the team. I enjoy being able to directly help make someone happier, whether it be a customer or a fellow coworker. Often, I am eager to take on tasks that require learning about new topics and people describe me as consistently a benefit to a team.
            div#spacer
                center
                    p spacer
            div#contact
                div.inner
                    p this is a section
                    p 
                        b something
                    p
                        a(href="projects.html") go to projects
