extends layout
block content
    p
        a(href="projects.html") go to projects
    div#main
        div#bio
            div.banner
                h1 Leon Cheng
                hr
            div.inner
                p this is the bio section
                p 
                    b something