extends layout
block content
    p
        a(href="projects.html") go to projects
    div#wrapper
        div#banner
            h1 Leon Cheng
            hr
        div#main
            div.inner
                p this is a section
                p 
                    b something